//colors
$grey: #333333;

//navigation colors
$nav-background: #681728;
$nav-text-color: #fff;

//clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;


$space-30: 30px;
$page-title-color: rgba(234,191,134,1);
