.loginbutton {
  background-color: red;
}

.usermessages {
  height: 100px;
  display: inline-block;
  margin: 15px;
}


.avatarimage{
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
}

.inputbutton {
  width: 100%;
}

.messagesent {
  background-color: red;
  left: -25px;
  position: relative;
}

#inputform {
  outline: black solid thick;
  height: 90px;
  position: relative;
  bottom: -5px;
}

#UserList {
  height: 500px;
  overflow: scroll;
  outline: black solid thick;
}

#MessageList {
  height: 500px;
  overflow: scroll;
  outline: black solid thick;
}

#MessageandUserList{
  padding-bottom: 10px;
}

#userlisttitle {
  outline: black solid thick;
	margin-bottom: 15px;
}

.triangle-obtuse {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#fff;
  background:#c81e2b;
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
  background:-moz-linear-gradient(#f04349, #c81e2b);
  background:-o-linear-gradient(#f04349, #c81e2b);
  background:linear-gradient(#f04349, #c81e2b);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.triangle-obtuse:before {
  content:"";
  position:absolute;
  bottom: -19px;/* value = - border-top-width - border-bottom-width */
  left: 0px;   /* value = - border-top-width - border-bottom-width */
  border:0;
  border-right-width:40px; /* vary this value to change the angle of the vertex */
  border-bottom-width:27px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
  border-style:solid;
  border-color:transparent #c81e2b;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


.triangle-obtuse:after {
  content:"";
  position:absolute;
  bottom:-19px; /* value = - border-top-width - border-bottom-width */
  left:0px; /* value = (:before's left) + (:before's border-right/left-width)  - (:after's border-right/left-width) */
  border:0;
  border-right-width:10px; /* vary this value to change the angle of the vertex */
  border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :before */
  border-style:solid;
  border-color:transparent #fff;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.avatarimage{
  position: relative !important;
  top: 44px !important;
  right: -19px !important;
  z-index: 1 !important;
}


.render-message {
	text-align: center;
}

.login-for-chat {
	text-align: center;
}
