.challenge-form {
	text-align: center;
	font-size: 2rem;
}
.challenge {
	position: absolute;
  /* Center form on page horizontally & vertically */
  top: 50%;
  left: 50%;
  margin-top: -115px;
	margin-left: -312px;
}
.challengeText{
	font-weight:500;
}
.login_form {
    width: 300px;
    height: 300px;

    background: gray;
    border-radius: 10px;

    margin: 0;
    padding: 0;

}

#challenge-pg {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#challenge-btn {
	margin: 0 auto;
}

#challenge-form {
	text-align: center;

}

.displayf {
    display: flex;
}

.mt1 {
    margin-top: 1rem;
}

.form__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__container {
    flex-flow: column wrap;
}

.form__element_leftAlign {
    align-self: flex-start;
}

.form__container_phone {
    border: 1px solid #272121;
    height: 5vh;
    font-size: 2rem;
    padding: 1rem;
		padding-top: 22px;
}

.form__container_submit {
    padding: 1rem;
    margin-left: 1rem;
		background-color: #681728;
		color: #F2e1ad;
		font-size: 18px;
}

.form__element--leftAlign {
    align-self: flex-start;
}

.form__container--phone {
    border: 1px solid #272121;
    height: 5vh;
    font-size: 2rem;
    padding: 1rem;
		padding-top: 21px;
}

.form__container--submit {
    padding: 1rem;
    margin-left: 1rem;
}

.impnote {
    font-size: 0.8rem;
    display: block;
    text-align: left
}

.impnote:nth-of-type(1) {
    margin: 3rem 0 0 0;
}
