ol, ul {
}

.chat-header-li {
    font-size: inherit;
    padding: 5px;
    list-style: none;
		display: inline-block;
}

.chat-login-header {
	display: block;
}

#chat-log-button {

}

.button.hollow.alert {
    border: 1px solid #cc4b37;
    color: #cc4b37;
		margin-bottom: -2px;
		// margin-left: 80px;
}

ol, ul {
    text-align: center;
    list-style: none;
}

blockquote {
    margin: 0;
    padding: 0;
    text-align: center;
	}
