.ryu {
	-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
	// margin-left: -50px;
}

.gifs {
	text-align: center;
	margin: 15px;
}

.ken {
	// margin-left: 40px;
}

.punch {
	margin-right: -60px;
}
