th {
    background-color: #681728;
    color: white;
    height: 50px;

}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}
th, td {
  padding: 5px;
}
tr:hover {
  background-color: #f5f5f5
};

.leaderboard-table {
	width: 100%;
}

@media print, screen and (min-width: 64em) {
.large-4 {
     width: 100%;
}
}
