#right {
  width: 60%;
  opacity: 0.7;
  text-align: center;
}
#left {
  max-width: 60%;
  opacity: 0.7;
  align-items: flex-end;
}
#logoleft, #logoright {
  margin: 0 auto;
  display: block;
}
.imgLeft, .imgRight {
  height: 30%;
  width: auto;
  position: absolute;
  margin-top: 20px;
}
.logo-left-div, .logo-right-div {
  vertical-align: top;
}
