#right {
  max-width: 60%;
  opacity: 0.7;
  text-align: center;
}
#left {
  max-width: 60%;
  opacity: 0.7;
  align-items: flex-end;
}
.imgRight {
       -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
#logoleft, #logoright {
  margin: 0 auto;
  display: block;
}
