.page-title
{
  color:$page-title-color;
  margin-top: $space-30;
  margin-bottom: $space-30;
}

input[type=search], input[type=submit]
{
  box-shadow: none;
  border-radius: 5px;
  outline:none

}
//part 3 works here


.button-form{
  border-radius: 5px;
  outline: none;
  font-size: 22px;
  height: 40px;
  display: flex;
  align-items: center !important;
  padding: 0
}
.nav-search
{
  max-width: 300px !important;
  width: 300px
}

.font, .page-title
{
  font-family:'bitter';
}

.top-bar
{
  background-color: rgba(250,250,250,.8);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,.6);
}
//Part 2 It works here

.top-bar ul
{
  background-color: transparent !important;
	margin: 0px;
}

.row
{
  display: flex;
  align-items: center;
  justify-content: center;

}

.top-bar .top-bar-left, .top-bar .top-bar-right {
	width: 100%;
}

.menu
{
  float: left;
  width: 100%;
}
.app-name, .eachLink
{
  float: left;
  height: 55px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
@media(max-width:962px){
  .top-bar-left
  {
    width: 100%;
  }
  .top-bar-right
  {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width:500px){
  .row{
    min-height: calc(100vh - 210px)
  }
  .app-name
  {
    width: 100%;
    float: left;
  }
  .eachLink
  {
    width: 32%;
    float: left;
    margin-left: 1%;
 }
  .top-bar-right
  {
    display: none
  }
 .nav-search
 {
   width: 140px;
 }
}

.weather-location
{
  font-size: 30px;
  text-transform:uppercase;
}
.weather-icon
{
  height: 70px;
  display: flex;;
  justify-content: center;
  align-items: center;
}
.weather-image
{
  height: 60px;
  width: 60px;
}
.weather-item, .weather-parameters
{
  float: left;
  width: 50%;

}
.weather-eachItem, .weather-eachParameters
{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em;
}

.navbar li {
  margin: 0 0.5em;
}

.message-chat-list {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}

.message-chat {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}
